$primary-color : rgb(255, 52, 52);
$sec-color : rgb(185, 176, 176);

.nav{
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    z-index: 100;
    background: rgba(20, 23, 39, 0.945);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 500ms;
    transform: scaleY(0);
    transform-origin: top;
    transition-delay: 500ms;


    &.open{
        transform: scaleY(1);
    border-radius: 0%;


    }

    .menu{
        width: 65vw;
        min-width: 250px;
        height: 100px;

        &-list{
            display: flex;
            justify-content: space-between;
            align-items: center;

            a{
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            &-item{
                color: white;
                // background-color: $primary-color;
                width: 100%;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                // border: 1px solid $sec-color;
                margin-right: 10px;
                cursor: pointer;


                a{
                    font-size: 18px;
                    text-transform: uppercase;
                    color: white;
                    position: absolute;
                    z-index: 20;
                }
                .bg{
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: $primary-color;
                    z-index: 10;
                    border-bottom-right-radius: 10px;
                    border-top-right-radius: 10px;
                    transform: scaleX(0.01);
                    transition: 500ms;
                    transform-origin: left;

                }

                &:hover .bg{
                    transform: scaleX(0.5);

                }

                &:active .bg{
                    transform: scaleX(1);
                    transition: 200ms;


                }
            }
        }
    }
}


@media only screen and (max-width: 800px) {
    .nav{

        .menu-list{
            flex-direction: column;
        }
    }
  }



  @media only screen and (max-height: 400px) {
    .nav{
        overflow-y: scroll;

    }
  }

