@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

header{
    width: 100vw;
    min-height: 100vh;
    background: rgba(49, 49, 49, 0.90);
    position: relative;
    overflow: hidden;



    video{
        position: absolute;
        right: 0;
        bottom: 0;
        min-width: 100%; 
        min-height: 100%;
        z-index: -1;
        
    }
    .logo{
        background-clip: text;
        padding: 5px 15px;
        position: fixed;
        z-index: 10000;

        a{
            font-weight: 700;
            font-family: 'Rock Salt', cursive;
            color: white;
            font-size: 12px;
            background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
            display: inline-block; 
            -webkit-background-clip: text; 
            background-clip: text; 
            color: transparent; 
        }
    }
    .content{
        position: absolute;
        width: 90%;
        max-width: 400px;
        height: 380px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -30%);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: rgba(37, 42, 46, 0.842);
        border-radius: 10px;

        .profile{
            position: absolute;
            top: -50%;
            left: 50%;
            transform: translate(-50% ,50%);
            width: 180px;
            height: 180px;
            border-radius: 50%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #38f9d7;
            cursor: pointer;
            box-shadow: 2px 2px 20px black;
             
            img{
                width: 90%;
                height: 90%;
                border-radius: 50%;
                filter: grayscale(100%);
                transition: 300ms;
                background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
            }

                
            &:hover img{
                filter: grayscale(100%);
                width: 85%;
                height: 85%;
            }
            &:active img{
                filter: grayscale(100%);
                width: 100%;
                height: 100%;
                box-shadow: 0px 0px 20px black;

            }
            &:active {
                box-shadow: 0px 0px 20px black;

            }
        }

        .text{
            width: 100%;
            text-align: center;
            margin-top: 50px;
            // padding: 10px;

            h1{
                font-size: 32px;
                font-weight: 700;
                color: rgb(255, 255, 255);
            }
            p{
                margin-top: 10px;
                font-size: 12px;
                color: rgba(255, 255, 255, 0.466);
            }
            button{
                border: 2px solid rgb(255, 52, 52);
                cursor: pointer;
                outline: none;
                margin-top: 30px;
                position: relative;
                overflow: hidden;

                &::after{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: rgb(255, 52, 52);
                    z-index: -10;
                    transform: scaleX(0);
                    transition: 600ms;
                    transform-origin: right;

                }

                &:hover{
                    border: 2px solid rgb(253, 252, 252);
                }

                &:hover::after{
                    transform: scaleX(1);
                    transform-origin: left;

                }
            }
        }
        .social-handel{
            width: 100%;
            max-width: 240px;
            display: flex;
            margin-top: 30px;
            // background-color: #fff;
            justify-content: space-between;
            align-items: center;

            .single-social{
                width: 45px;
                height: 45px;
                border-radius: 50%;
                cursor: pointer;

                a{
                    width: 45px;
                    height: 45px;
                    color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    border: 1px solid white;



                    .icon{
                        color: rgb(255, 255, 255);
                        font-size: 16px;
                        
                    }

                    &:hover{
                        background: rgb(255, 52, 52);
                        border: none;
                    }
                }
            }
        }
    }

}
@media only screen and (min-width: 800px) {
    header{

        .logo{
            padding: 30px 100px;
    
            a{

                font-size: 16px;

            }
        }
        .content{
            width: 90%;
            max-width: 600px;
            height: 450px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -20%);

            & > div{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            .profile{
                top: -50%;
                left: 50%;
                transform: translate(-50% ,40%);
                width: 250px;
                height: 250px;
                
            }
    
            .text{
    
                h1{
                    font-size: 50px;
                    letter-spacing: 2px;
                }
                p{
                    margin-top: 10px;
                    font-size: 12px;
                    color: rgba(116, 115, 115, 0.835);
                }
                button{
                    border: 2px solid rgb(255, 52, 52);
                    cursor: pointer;
                    outline: none;
                    margin-top: 30px;
                }
            }
        }
  }
}