@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

header{
    width: 100vw;
    min-height: 100vh;
    background: rgba(49, 49, 49, 0.90);
    position: relative;
    overflow: hidden;



    video{
        position: absolute;
        right: 0;
        bottom: 0;
        min-width: 100%; 
        min-height: 100%;
        z-index: -1;
        
    }
    .logo{
        background-clip: text;
        padding: 0 15px;

        a{
            font-weight: 700;
            font-family: 'Rock Salt', cursive;
            color: white;
            font-size: 12px;
            background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
            display: inline-block; 
            -webkit-background-clip: text; 
            background-clip: text; 
            color: transparent; 
        }
    }
    .content{
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}
.typing{
    color: white;
    font-weight: 700;
    font-size: 30px;
    text-transform: capitalize;
    background-image: linear-gradient(to right, rgb(255, 52, 52) 0%, rgb(255, 52, 52) 100%);
    display: inline-block; 
    -webkit-background-clip: text; 
    background-clip: text; 
    color: transparent; 

    span{
        color: #00d9ff;
        font-size: 35px;
    }
}